<div class = "container">

  <h1> Please Sign Up </h1>


  <% if @errors %>
  <ul>
    <% @errors.each do |message| %>
    <li> <%= message %> </li>
    <% end %>
  </ul>
  <% end %>

  <form action = '/users' method= "POST">
    <input type= "text" name= "user[username]" placeholder= "Username">
    <input type= "password" name= "user[password]" placeholder= "Password">
    <input type= "submit" value= "Sign Up">
  </form>
</div>
