<div class="container">

  <h1 class="rounded-gray"> Sign Up </h1>


  <% if @errors %>
  <ul>
    <% @errors.each do |message| %>
    <li> <%= message %> </li>
    <% end %>
  </ul>
  <% end %>

  <form class="form" action = '/users' method= "POST">
    <input type= "text" name= "user[username]" placeholder= "Username"><br><br>
    <input type= "password" name= "user[password]" placeholder= "Password"><br><br>
    <input class="button" type= "submit" value= "Sign Up">
  </form>
  <h3 class="rounded-gray">Already Registered?<a href= "/users/new"> Login!</a></h3>
</div>
