<div>

    <p><%= Guess.display_result(@previous_card, @guess) %></p>

  <p>You got <%= @game.guesses.where(correct: true).length%> out of <%=@game.guesses.length%> correct.</p>

  <a href= "/users/<%=current_user.id%>">View all your stats!</a>

</div>


