<div class="container">
  <h1 class="rounded-gray">Which deck would you like to play?</h1>

    <% @decks.each do |deck| %>
      <div class="deck-card">
        <div class="deck-card-text">
          <a href="/decks/<%= deck.id %>"><%= deck.deck_name %></a>
        </div>
      </div>
    <% end %>
</div>
