<div class = "container">

  <h1 class="rounded-gray"> Welcome to Quizzy </h1>
  <h2 class="rounded-gray"> Please Login </h2>


  <% if @errors %>
  <ul>
    <% @errors.each do |message| %>
    <li> <%= message %> </li>
    <% end %>
  </ul>
  <% end %>


  <form class="form" action = '/login' method= "POST">
    <input type= "text" name= "username" placeholder= "Username"><br><br>
    <input type= "password" name= "password" placeholder= "Password"><br><br>
    <input class="button" type= "submit" value= "Login">
  </form>


  <h3 class="rounded-gray">New user? <a href= "/users/new">Sign up!</a></h3>

  </div>
